/* 
 css/styles.css 
 Student Name: Ahmad Essawii
 Student Id: 12429664
*/

/* :root {
  --bg: #faf7f2;
  --text: hwb(0 12% 88%);
  --muted: #6b6b6b;
  --brand: #216869;
  --brand-2: #49a078;
  --card: #ffffff;
  --border: #e9e3db;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
}
.h {
  background-color: red;
} */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(251, 248, 242);
}

.navidv {
  position: fixed;
  top: 0;
  z-index: 1000;
  font-weight: bold;
  background-color: rgb(250, 246, 241);
  font-family: "Rubik", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.logo a {
  padding-left: 126px;
  font-size: 18px;
  color: rgb(33, 104, 105);
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: rgb(33, 104, 105);
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

li:nth-child(5) a {
  padding-right: 126px;
}

.bg {
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  height: 604px;
  margin-bottom: 15px;
}

.hero {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.Med-p {
  position: absolute;
  top: calc(50% - 95px);
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 14px;
  font-family: Rubik;
  color: rgb(0, 0, 0);
  background-color: rgba(72, 160, 119);
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-radius: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  width: 575px;
  padding: 20px;
}
.welcome-p {
  position: absolute;
  top: calc(48% - 95px);
  left: 50%;
  transform: translate(-50%, 40%);
  font-size: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  color: white;
}

.Homestyle-p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: calc(50% - 95px);
  left: 50%;
  transform: translate(-50%, 200%);
  color: white;
  width: 750px;
  text-align: center;
}

.view-btn {
  width: 95;
  color: white;
  background-color: rgb(33, 104, 105);
  font-weight: bold;
  border-style: none;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.15s;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 95px);
  left: 50%;
  transform: translate(-50%, 300%);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.view-btn:hover {
  background-color: white;
  color: rgb(33, 104, 105);
  border: solid 1px rgb(33, 104, 105);
}

.about-div {
  background-color: white;
  border-radius: 12px;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  width: 575px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.p1-about,
.p2-about,
.p3-about {
  display: inline-block;
  color: rgb(0, 0, 0);
  border: 1.5px solid gray;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h1-about {
  padding-left: 20px;
}

.Dalouna-p {
  line-height: 25px;
  padding-left: 20px;
  width: 460px;
}

.Vegetarian-p {
  width: 500px;
  line-height: 25px;
  padding-left: 20px;
  color: gray;
}

.hh1-about {
  padding-left: 20px;
}

.pp1-We {
  line-height: 25px;
  padding-left: 20px;
  width: 450px;
}

.pp1-Ask {
  padding-left: 20px;
  padding-bottom: 10px;
}

.ChefNotes-div {
  background-color: white;
  border-radius: 12px;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  width: 575px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pp1-Ask {
  color: grey;
}

.h1-menu {
  font-family: "Rubik", sans-serif;
  transform: translate(368px);
}

.Menu-Highlights {
  /* margin-top: 80px;
          font-family: "Rubik", sans-serif;
          transform: translate(368px 20px); */
}

.about {
  background-color: rgb(137, 41, 150);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}
.menu {
  /* background-color: rgb(137, 41, 150);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  margin-right: 20px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  background-color: rgb(137, 41, 150);
  padding: 40px;
}

.Meezze,
.Drinks,
.Mains {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  width: 575px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 450px;
  display: block;
  margin-top: 35px;
  background-color: aqua;
  width: 575px;
}

.Humms {
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.p1-humms {
  padding-left: 20px;

  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.p2-humms {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: rgb(33, 104, 105);
  bottom: 10px;
  font-size: 20px;
  padding-right: 14px;
  display: flex;
}

.p3-humms {
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  color: grey;
}

.s3r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-bottom: 0px;
  line-height: 2px;
}

.line {
  border-bottom: gray 2px dotted;
  margin-right: 15px;
  margin-left: 20px;
}
.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  padding: 20px; /* هذا هو البادينغ الموحد */
  width: 575px;
}
